<div class="menu" id="menu">
    <div class="user">
        <img class="imagen-user" th:src="@{/img/user.png}" alt="eventos">
        <div class="datos-user" >
            <a class="n-user" th:text="${username}"></a>
            <a class="r-user">Rol usuario</a>
        </div>
    </div>
    <div class="lista">
        <ul class="lista-principal" id="lista-close">
            <li class="elemento-1 elemento--click">
                <div class="lista-item">
                    <div class="imagen-titulo">
                        <img class="imagen-item" th:src="@{/img/eventos.png}" alt="eventos">
                        <a class="titulo-elemento-1">Ferias</a>
                    </div>
                    <i class="fa-solid fa-angle-right list-arrow" style="color: black;"></i>
                </div>
                <ul class="lista-secundaria">
                    <li class="elemento-2">
                        <a href="/version/ferias_disponibles" style="text-decoration: none;">Catálogo de ferias</a>
                    </li>
                    <li class="elemento-2">
                        <a href="/version/ferias_inscritas" style="text-decoration: none;">Ferias inscritas</a>
                    </li>
                    <li class="elemento-2">
                        <a href="/version/ferias_finalizadas" style="text-decoration: none;">Ferias finalizadas</a>
                    </li>
                    <li class="elemento-2">
                        <a href="/ferias/mis_ferias" style="text-decoration: none;">Ferias creadas</a>
                    </li>
                </ul>
            </li>
            <li class="elemento-1 elemento--click">
                <div class="lista-item">
                    <div class="imagen-titulo">
                        <img class="imagen-item" th:src="@{/img/proyectos.png}" alt="eventos">
                        <a class="titulo-elemento-1">Proyectos</a>
                    </div>
                    <i class="fa-solid fa-angle-right list-arrow" style="color: black;"></i>
                </div>
                <ul class="lista-secundaria">
                    <li class="elemento-2">
                        <a href="/proyecto/mis_proyectos" style="text-decoration: none;">Mis proyectos</a>
                    </li>
                    <li class="elemento-2">
                        <a href="/calificaciones/jurado" style="text-decoration: none;">Calificar proyectos</a>
                    </li>
                </ul>
            </li>
            <li class="elemento-1 elemento--click">
                <div class="lista-item">
                    <div class="imagen-titulo">
                        <img class="imagen-item" th:src="@{/img/check.png}" alt="eventos">
                        <a class="titulo-elemento-1">Calificaciones</a>
                    </div>
                    <i class="fa-solid fa-angle-right list-arrow" style="color: black;"></i>
                </div>
                <ul class="lista-secundaria">
                    <li class="elemento-2">
                        <a href="/calificaciones/mis_calificaciones" style="text-decoration: none;">Mis calificaciones</a>
                    </li>
                </ul>
            </li>
            <li class="elemento-1 elemento--click">
                <div class="lista-item">
                    <div class="imagen-titulo">
                        <img class="imagen-item" th:src="@{/img/win.png}" alt="eventos">
                        <a class="titulo-elemento-1">Clasificación</a>
                    </div>
                    <i class="fa-solid fa-angle-right list-arrow" style="color: black;"></i>
                </div>
                <ul class="lista-secundaria">
                    <li class="elemento-2">
                        <a href="#" style="text-decoration: none;">Aprobar proyectos</a>
                    </li>
                </ul>
            </li>
            <li class="elemento-1 elemento--click">
                <div class="lista-item">
                    <div class="imagen-titulo">
                        <img class="imagen-item" th:src="@{/img/user.png}" alt="eventos">
                        <a class="titulo-elemento-1">Gestión de usuarios</a>
                    </div>
                    <i class="fa-solid fa-angle-right list-arrow" style="color: black;"></i>
                </div>
                <ul class="lista-secundaria">
                    <li class="elemento-2">
                        <a href="#" style="text-decoration: none;">Usuarios</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>