* {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'League Spartan';
}

.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-contenido {
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.foto-boton {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.titulo {
    margin-top: 50px;
    color: #002948;
}

h3 {
    color: #4F6E85;
}

.texto-buscar {
    background-color: #D9D9D9;
    border: none;
    height: 25px;
    font-size: 18px;
    width: 100%;
    border-radius: 5px;
    letter-spacing: 1.5px;
}

.buscador {
    margin-top: 30px;
    display: flex;
    padding: 3px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 5px;
}

.busqueda {
    display: flex;
    padding: 3px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    border-radius: 5px;
}

.busqueda input {
    padding: 5px 10px;
    font-size: 20px;
}

.imagen-lupa img {
    height: 25px;
    width: auto;
}

.imagen-lupa button {
    background-color: #4F6E85;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin-left: 5px;
    cursor: pointer;
    border: none;
}

.aviso {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}


.nombre {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5px;
    overflow-wrap: break-word;
    width: 100%;
}

.boton {
    display: flex;
    justify-content: center;
    font-size: 16px;
    align-items: center;
    height: 30px;
    width: max-content;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: #002948;
    padding: 5px 15px;
}

.ver-evento {
    display: flex;
    justify-content: center;
    font-size: 16px;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    color: white;
    background-color: #002948;
    border: none;
}

.item_lista {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    background-color: #D9D9D9;
    box-shadow: 2px 5px 14px -8px rgba(0, 0, 0, 0.71);
    -webkit-box-shadow: 2px 5px 14px -8px rgba(0, 0, 0, 0.71);
    -moz-box-shadow: 2px 5px 14px -8px rgba(0, 0, 0, 0.71);
    border-radius: 5px;
    margin-bottom: 30px;
    justify-content: space-between;
    padding: 20px;
}

.informacion_feria {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.informacion {
    width: 270px;
}

.ferias_disponibles {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.informacion td {
    text-align: left;
    vertical-align: middle;
    height: 25px;
}

/*Paginación*/

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pagination button {
    margin: 0 5px;
    padding: 10px 15px;
    background-color: #4F6E85;
    cursor: pointer;
    border-radius: 3px;
    border: none;
}

.pagination button.active {
    background-color: #002948;
    color: white;
}

.pagination button:disabled {
    background-color: #e9ecef;
    cursor: not-allowed;
}

.photo img {
    height: 50px;
    width: auto;
}