* {
    font-family: 'League Spartan', sans-serif;
}

.contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.titulo{
    margin-top: 50px;
    color: #002948;
    width: 90%;
} 

.mensaje-usuario{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aviso{
    color: #6A8BA4;
}

.panel-administrador{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagen-ver{
    height: 30px;
    width: auto;
    cursor: pointer;
}

.calificaciones-container {
    margin: 0px auto; /* Center the container */
    width: 90%; 
    overflow-x: auto;
    margin-bottom: 40px;
}

.panel-administrador .titulo{
    margin-top: 10px;
    font-size: 25px;
    margin-bottom: 15px;
}

.panel-administrador{
    margin-bottom: 50px;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.tabla-item{
    text-align: center;
}

thead th {
    background-color: #6A8BA4;
    color: #002948;
    padding: 5px;
    border: 1px solid #002948;
    text-align: center;
    font-size: 20px;
}

.algo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabla-item-2{
    width: fit-content;
}

.boton-verde{
    background-color: green;
    cursor: pointer;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 26px;
}

.boton-rojo{
    background-color: red;
    cursor: pointer;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 26px;
}

.btn-ico {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.tabla-usuarios{
    width: 100%;
}

.proyectos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

tbody td {
    padding: 3px; 
    border: 1px solid #002948;
}

tbody tr:nth-child(even) {
    background-color: #D9D9D9;
}

tbody tr:nth-child(odd) {
    background-color: white;
}

th, td {
    text-align: left;
}

th:first-child, td:first-child {
    width: 35%;
}

.n-nombre{
    width: 40%; 
}

.n-eliminar{
    width: 10%;
}

th, td:not(:last-child) {
    border-right: 1px solid #002948;
}

.botoness img{
    height: 30px;
    width: auto;
    cursor: pointer;
}

.botoness{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}