* {
    font-family: 'League Spartan', sans-serif;
}

.contenido-proyecto {
    width: 90%;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 30px;
    margin-bottom: 30px;
    grid-gap: 30px;
    justify-items: center;
}

.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.informacion_feria {
    background-color: #ecececaf;
    padding: 30px;
    box-shadow: 2px 5px 14px -8px rgba(0, 0, 0, 0.71);
    -webkit-box-shadow: 2px 5px 14px -8px rgba(0, 0, 0, 0.71);
    -moz-box-shadow: 2px 5px 14px -8px rgba(0, 0, 0, 0.71);
    border-radius: 5px;
}

.tabla {
    text-align: left;
    border-collapse: collapse;
}

.tabla-informacion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;
}

.fila {
    height: 40px;
    vertical-align: middle;
}

.boton-registrar {
    display: flex;
    font-size: 16px;
    align-items: center;
    height: 25px;
    width: max-content;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: #002948;
    padding: 5px 15px;
}

/*Proyectos de una version*/
.siProyect {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.calificar {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.tabla td {
    font-size: 18px;
}

.calificar a{
    text-decoration: none;
}

.ver_proyecto {
    display: flex;
    font-size: 16px;
    align-items: center;
    height: 30px;
    width: max-content;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: #002948;
    padding: 5px 15px;
    border: none;
}

.boton_ver a {
    text-decoration: none;
}

.lista_proyectos{
    width: 90%;
}

.item_lista {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: -webkit-fill-available;
    background-color: #D9D9D9;
    border-radius: 5px;
    box-shadow: 2px 5px 14px -8px rgba(0, 0, 0, 0.71);
    -webkit-box-shadow: 2px 5px 14px -8px rgba(0, 0, 0, 0.71);
    -moz-box-shadow: 2px 5px 14px -8px rgba(0, 0, 0, 0.71);
    margin-bottom: 30px;
    justify-content: space-between;
    padding: 20px;
} 


.columna-desc a {
    text-decoration: none;
}

.columna-item {
    color: #002948;
    font-weight: bold;
    width: 150px;
}

.nombre-proyecto {
    color: #002948;
    width: 90%;
    overflow-wrap: normal;
}

.proyecto {
    color: #002948;
    margin-top: 30px;
}

.no-hay-proyectos {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4F6E85;
    font-size: 20px;
}

.botones-formatos{
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}