* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'League Spartan';
}

.botones_antes_cierre{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.botones{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.botones button {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 110px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: #002948;
  border: none;
}
 
.CrearEvento button {
  padding: 10px 35px;
  color: rgb(255, 255, 255);
  background-color: #002948;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.CrearEvento button {
  padding: 10px 15px;
  color: rgb(255, 255, 255);
  background-color: #002948;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  width: 130px;
}
.noFerias{
  display: flex;
  justify-content: center;
  align-items: center;

}
.top-boton{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}
/* .CrearEvento {
  display: flex;
  justify-content: center;
  align-items: center;
} */
/*
.CrearEvento {
  position: fixed;
  bottom: 20px;
  left: 50%;
  z-index: 999;
}*/
