*{
  font-family: 'League Spartan', sans-serif;
}

.contenido {
  /*border-bottom: 1px solid #002948;*/
  margin-top: 30px;
  margin-left: 60px;
}

.titulo {
  margin-top: 25px;
  color: #002948;
}

.pasados {
  margin-top: 50px;
  color: #002948;
  margin-left: 30px;
}

.actuales {
  margin-top: 50px;
  color: #002948;
}

.linea {
  border-bottom: 1.5px solid #a0a0a0;
  width: 90%;
  margin: 0;
  /* bdosrcdmer: 60px;   */
}

.cua {
  font-weight: bold;
  color: #002948;
  display: flex;
  align-items: center;
}

.noProyect {
  display: flex;
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
  color: #4F6E85;

}

.proyectos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 30px;
  width: 90%;
  justify-items: center;
} 

.cuadro {
  display: flex;
  flex-direction: column;
  background-color: rgb(148, 167, 182, 0.41);
  box-shadow: 1px 1px 4px #002948;
  border-radius: 30px;
  padding: 20px;
  width: 240px;
  margin-top: 20px;
}

.icon {
  width: 80px;
  height: 80px;
}

.txt {
  text-align: left;
  width: 100%;
}

.calificacion {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.botones {
  display: flex;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;
  justify-content: center;
}

.top-botones{
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.txt-boton{
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: center;
}


.botones button{
  text-align: center;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  background-color: #002948;
  width: 100px;
}

.verProyecto {
  width: 150px;
}

.siProyect{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 30px;
  width: 90%;
  justify-items: center;
}