* {
  font-family: 'League Spartan', sans-serif;
}

.contenido {
  margin-top: 30px;
  height: 100%;
}

.titulo {
  margin-top: 25px;
  color: #002948;
}

.pasados {
  margin-top: 50px;
  color: #002948;
}

.actuales {
  margin-top: 10px;
  color: #002948;
}

.linea {
  border-bottom: 1.5px solid #a0a0a0;
  width: 90%;
  margin: 0;
  /* bdosrcdmer: 60px;   */
}

.titulo {
  width: 90%;
}

.cua {
  font-weight: bold;
  color: #002948;
  display: flex;
  align-items: center;
}

.noProyect {
  display: flex;
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
  color: #4F6E85;

}

.proyectos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 30px;
  width: 90%;
  justify-items: center;
}

.cuadro {
  display: flex;
  flex-direction: column;
  background-color: rgb(148, 167, 182, 0.41);
  box-shadow: 1px 1px 4px #002948;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 2px 5px 14px -8px rgba(0, 0, 0, 0.71);
  -webkit-box-shadow: 2px 5px 14px -8px rgba(0, 0, 0, 0.71);
  -moz-box-shadow: 2px 5px 14px -8px rgba(0, 0, 0, 0.71);
  width: 80%;
  margin-top: 20px;
}

.icon {
  width: 80px;
  height: 80px;
}

.txt {
  text-align: left;
  width: 100%;
}

.calificacion {
  display: flex;
  font-size: 18px;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 15px;
}

.botones {
  display: flex;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;
  justify-content: center;
}

.top-botones {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.txt-boton {
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: center;
}


.botones button {
  text-align: center;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  background-color: #002948;
}

.eliminar,
.editar {
  width: 100px;
}

.verProyecto {
  width: 130px;
}

.siProyect {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 30px;
  width: 90%;
  justify-items: center;
}

.botones-2 button {
  text-align: center;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  background-color: #002948;
  width: 130px;
}

.botones {
  display: flex;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;
  justify-content: left;
}