<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis calificaciones</title>
    <link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/cuadricula.css}">
    <link href="https://fonts.googleapis.com/css?family=League Spartan" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <link rel="stylesheet" th:href="@{/css/misCalificaciones.css}">
</head>
<body>
<div class="contenedor" id="contenedor">
    <div class="header" th:insert="~{@{fragments/navbar.html}}"></div>
    <div class="menu" th:insert="~{@{fragments/menu.html}}"></div>
    <div class="contenido">
        <h2 class="titulo">Mis calificaciones</h2>
        <div class="calificaciones-container">
            <table>
                <thead>
                <tr>
                    <th>Proyecto</th>
                    <th>Calificación</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="proyecto: ${proyectosCalificados}">
                    <td th:text="${proyecto.nombre}">Proyecto 1</td>
                    <td th:text="${proyecto.calificacion == 0.0 ? 'Este proyecto no ha sido calificado' : proyecto.calificacion}">85</td>

                </tr>
                </tbody>
            </table> 
        </div>
        <div th:if="${exito}" class="ventanita ventana-verde" id="notification">
            <p><span th:text="${exito}"></span></p>
            <span id="equis" class="close" onclick="closeNotification('notification')">×</span>
        </div>
        <div th:if="${error}" class="ventanita-roja" id="notification">
            <p><span th:text="${error}"></span></p>
            <span id="equis" class="close" onclick="closeNotification('notification')">×</span>
        </div>
    </div>
</div>
<script th:src="@{/js/registro.js}"></script>
<script th:src="@{/js/menu.js}"></script>
<script>
    //Despliegue del menu principal
    let listElements = document.querySelectorAll('.lista-item');

    listElements.forEach(listElement => {
        listElement.addEventListener('click', () => { //detecta el evento click en los items de la lista del menú
            listElement.classList.toggle('arrow'); //agrega la clase arrow
            let menu = listElement.nextElementSibling;
            menu.classList.toggle('active'); //agrega la clase active para mover el arrow
        });
    });

    //ejecutar funcion con click
    document.getElementById('btn-open').addEventListener("click", open_close_menu);

</script>
</body>

</html>