<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear versión de la feria</title>
    <link rel="stylesheet" th:href="@{/css/cuadricula.css}">
    <link href="https://fonts.googleapis.com/css?family=League Spartan" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/registros_edicion.css}">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>

<body>
    <div class="contenedor">
        <div class="header" th:insert="~{@{fragments/navbar.html}}"></div>
        <div class="menu" th:insert="~{@{fragments/menu.html}}"></div>
        <div class="contenido">
            <form class="formulario" th:action="@{/ferias/{idFeria}/version/crear(idFeria=${feria.id})}"
                th:object="${version}" method="post" enctype="multipart/form-data">
                <h2 class="titulo">Crear versión de la feria</h2>
                <div class="formulario_proyecto">
                    <div class="grid_formulario">
                        <div class="item">
                            <div class="item-texto item_texto_version">
                                <label for="numero">Versión:</label>
                            </div>
                            <input class="texto_corto_version" type="number" name="numero" id="numero" required>
                        </div>
                        <div class="item">
                            <div class="item-texto item_texto_version">
                                <label for="aprobacion">Puntaje mínimo para aprobar:</label>
                            </div>
                            <input class="texto_corto_version" type="number" name="aprobacion" id="aprobacion" required>
                        </div>
                        <div class="item">
                            <div class="item-texto item_texto_version">
                                <label for="fechaInicio">Fecha de Inicio:</label>
                            </div>
                            <input class="texto_corto_version" type="date" name="fechaInicio" id="fechaInicio" required>
                        </div>
                        <div class="item">
                            <div class="item-texto item_texto_version">
                                <label for="fechaCierre">Fecha de fin:</label>
                            </div>
                            <input class="texto_corto_version" type="date" name="fechaCierre" id="fechaCierre" required>
                        </div>
                        <div class="item">
                            <div class="item-texto item_texto_version">
                                <label for="fechaLimite">Fecha cierre de inscripciones:</label>
                            </div>
                            <input class="texto_corto_version" type="date" name="fechaLimite" id="fechaLimite" required>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-texto item_texto_2">
                            <label for="archivoProyecto">Formato del proyecto:</label>
                        </div>
                        <input class="cargar_archivo" type="file" name="formatoVersion" id="formatoVersion"
                            accept="application/pdf">
                    </div>
                    <div class="area item">
                        <div class="item-texto item_texto_2">
                            <label>Auspiciador:</label>
                        </div>
                        <table class="area-tabla" id="areas">
                            <tr>
                                <td>
                                    <button type="button" class="btnArea" id="btnArea" onclick="addAuspiciador()">Añadir
                                        auspiciador</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="botones">
                    <a th:href="'/ferias/' + ${feria.id} + '/version'"><button type="button"
                            id="cancelarBtn">Cancelar</button></a>
                    <button id="registrarBtn">Crear</button>
                </div>
            </form>
        </div>
    </div>
    <script th:src="@{/js/registro.js}"></script>
    <script th:src="@{/js/menu.js}"></script>
    <script>
        //Despliegue del menu principal
        let listElements = document.querySelectorAll('.lista-item');

        listElements.forEach(listElement => {
            listElement.addEventListener('click', () => { //detecta el evento click en los items de la lista del menú
                listElement.classList.toggle('arrow'); //agrega la clase arrow
                let menu = listElement.nextElementSibling;
                menu.classList.toggle('active'); //agrega la clase active para mover el arrow
            });
        });

        //ejecutar funcion con click
        document.getElementById('btn-open').addEventListener("click", open_close_menu);

    </script>
    <script>

        let auspiciadoresIndex = 0;
        function addAuspiciador() {
            const areasDiv = document.getElementById('areas');
            const newAreaDiv = document.createElement('tr');
            newAreaDiv.id = "auspiciadores[" + auspiciadoresIndex + "]";
            newAreaDiv.innerHTML = `
            <td>
                <input type="text" name="auspiciadores[${auspiciadoresIndex}]">
                <button type="button" class="btnClear" onclick="eliminarComponente2('auspiciadores[${auspiciadoresIndex}]')">
                    X
                </button><br>
            </td>
        `;
            areasDiv.appendChild(newAreaDiv);
            auspiciadoresIndex++;
        }
        function eliminarComponente2(id) {
            var componente = document.getElementById(id);
            if (componente) {
                componente.remove();
            }
        }
    </script>
</body>

</html>