<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ranking</title>
  <link rel="icon" href="../img/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="../css/cuadricula.css" />
  <link href="https://fonts.googleapis.com/css?family=League Spartan" rel="stylesheet" />
  <link rel="stylesheet" href="../css/estilos.css" />
  <link rel="stylesheet" href="../css/misCalificaciones.css" />
</head>

<body>
  <div class="contenedor" id="contenedor">
    <div class="header"></div>
    <div class="menu"></div>
    <div class="contenido">
      <h2 class="titulo">Ranking: Ferias de semilleros</h2>
      <div class="calificaciones-container">
        <table id="projectsTable">
          <thead>
            <tr>
              <th>N°</th>
              <th>Titulo del Proyecto</th>
              <th>Calificación</th>
            </tr>
          </thead> 
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
  <script src="../js/agregarContenidoTabla.js"></script>
  <script src="../js/registro.js"></script>
  <script src="../js/menuInclude.js"></script>
</body>

</html>