<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ranking</title>
  <link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon" />
  <link rel="stylesheet" th:href="@{/css/cuadricula.css}" />
  <link href="https://fonts.googleapis.com/css?family=League Spartan" rel="stylesheet" />
  <link rel="stylesheet" th:href="@{/css/estilos.css}" />
  <link rel="stylesheet" th:href="@{/css/ranking.css}" />
</head>

<body>
  <div class="contenedor" id="contenedor">
    <div class="header" th:insert="~{@{fragments/navbar.html}}"></div>
    <div class="menu" th:insert="~{@{fragments/menu.html}}"></div>
    <div class="contenido">
      <h2 class="titulo" th:text="${version.feria.nombre}"></h2>
      <div class="calificaciones-container">
        <table id="projectsTable">
          <thead>
            <tr>
              <th>N°</th>
              <th>Titulo del Proyecto</th>
              <th>Calificación</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="proyecto, iterStat: ${proyectos}">
              <td th:text="${iterStat.index}"></td>
              <td th:text="${proyecto.nombre}"></td>
              <td th:text="${proyecto.calificacion}"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <script th:src="@{/js/agregarContenidoTabla.js}"></script>
  <script th:src="@{/js/registro.js}"></script>
  <script th:src="@{/js/menu.js}"></script>
  <script>
    //Despliegue del menu principal
    let listElements = document.querySelectorAll(".lista-item");

    listElements.forEach((listElement) => {
      listElement.addEventListener("click", () => {
        //detecta el evento click en los items de la lista del menú
        listElement.classList.toggle("arrow"); //agrega la clase arrow
        let menu = listElement.nextElementSibling;
        menu.classList.toggle("active"); //agrega la clase active para mover el arrow
      });
    });

    //ejecutar funcion con click
    document
      .getElementById("btn-open")
      .addEventListener("click", open_close_menu);
  </script>
</body>

</html>