<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver feria</title>
    <link rel="stylesheet" th:href="@{/css/cuadricula.css}">
    <link href="https://fonts.googleapis.com/css?family=League Spartan" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/verInfoPoryectos.css}">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body> 
<div class="contenedor" id="contenedor">
    <div class="header" th:insert="~{@{/fragments/navbar.html}}"></div>
    <div class="menu" th:insert="~{@{/fragments/menu.html}}"></div>
    <div class="contenido">
        <div class="contenido-proyecto">
            <div class="nombre-proyecto">
                <h2  th:text="${version.feria.nombre}+' '+${version.numero}"></h2>
            </div>
            <div class="descripcion-proyecto">
                <p th:text="${version.feria.descripcion}"></p>
            </div>
            <div class="tabla-informacion">
                <table class="tabla">
                    <tr class="fila">
                        <td class="columna-item">Fecha inicio:</td>
                        <td class="columna-desc" th:text="${version.fechaInicio}"></td>
                    </tr>
                    <tr class="fila">
                        <td class="columna-item">Fecha fin:</td>
                        <td class="columna-desc" th:text="${version.fechaCierre}"></td>
                    </tr>
                    <tr class="fila">
                        <td class="columna-item">Fecha límite de inscripción:</td>
                        <td class="columna-desc" th:text="${version.fechaLimite}"></td>
                    </tr>
                </table>
            </div>
            <div class="calificar" th:if="${!version.cierre} and ${!version.fechaCierre.isBefore(#temporals.createNow().toLocalDate())}">
                <a th:href="'/version/'+${version.id} + '/registrar'">
                    <div class="boton-registrar">
                        Registrar Proyecto
                    </div>
                </a>
            </div>
            <div class="proyecto">
                <h2>Proyectos</h2>
            </div>
            <center>
                <hr>
            </center>
            <div th:if="${#lists.isEmpty(proyectos)}" class="no-hay-proyectos">
                <h3>No se han registrado proyectos</h3>
            </div>
            <div class="siProyect" th:if="${not #lists.isEmpty(proyectos)}">
                <div class="cuadro" th:each="proyecto : ${proyectos}">
                    <div class="cua">
                        <img class="icon" th:src="@{/img/proyectt.png}">
                        <div class="txt-u" th:text="${proyecto.nombre}"></div>
                    </div>
                    <div class="botones-2"> 
                        <div class="txt">
                            <a th:href="'/proyecto/' + ${proyecto.id}"><button class="verProyecto">Ver proyecto</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>
<script th:src="@{/js/modal-2.js}"></script>
<script th:src="@{/js/menu.js}"></script>
<script>
    //Despliegue del menu principal
    let listElements = document.querySelectorAll('.lista-item');

    listElements.forEach(listElement => {
        listElement.addEventListener('click', () => { //detecta el evento click en los items de la lista del menú
            listElement.classList.toggle('arrow'); //agrega la clase arrow
            let menu = listElement.nextElementSibling;
            menu.classList.toggle('active'); //agrega la clase active para mover el arrow
        });
    });

    //ejecutar funcion con click
    document.getElementById('btn-open').addEventListener("click", open_close_menu);

</script>
</body>

</html>