<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver proyecto</title>
    <link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/cuadricula.css}">
    <link href="https://fonts.googleapis.com/css?family=League Spartan" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/verProyectos.css}">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head> 

<body>
    <div class="contenedor" id="contenedor">
        <div class="header" th:insert="~{@{fragments/navbar.html}}"></div>
        <div class="menu" th:insert="~{@{fragments/menu.html}}"></div>
        <div class="contenido">
            <div class="contenido-proyecto">
                <div class="nombre-proyecto">
                    <h2 th:text="${proyecto.nombre}"></h2>
                </div>
                <div class="descripcion-proyecto">
                    <p th:text="${proyecto.descripcion}"></p>
                </div>
                <div class="objetivo">
                    <h2>Objetivo:</h2>
                </div>
                <div class="descripcion-objetivo">
                    <p th:text="${proyecto.objetivos}"></p>
                </div>
                <div class="item">
                    <div class="item-texto">
                        <label for="feria-inscrita">Feria inscrita:</label>
                    </div>
                    <div class="item-contenido">
                        <label for="feria-inscrita-info"
                            th:text="${proyecto.version.feria.nombre} + ' ' + ${proyecto.version.numero}"></label>
                    </div>
                </div>
                <div class="item">
                    <div class="item-texto">
                        <label for="area-estudio">Áreas de estudio:</label>
                    </div>
                    <div class="item-contenido" th:if="${not #lists.isEmpty(areas)}">
                        <label for="area-estudio-info" th:each="area, iterStat : ${areas}"
                            th:text="${area.nombre} + (iterStat.last ? ' ' : ', ')"></label>
                    </div>
                </div>
                <div class="item">
                    <div class="item-texto">
                        <label for="url-video">URL video:</label>
                    </div>
                    <div class="item-contenido" th:if="${not #lists.isEmpty(areas)}">
                        <label for="url-video-info" th:if="${proyecto.url == ''}">No posee</label>
                        <label for="url-video-info" th:if="${proyecto.url != ''}" th:text="${proyecto.url}"></label>
                    </div>
                </div>
                <div class="item">
                    <div class="item-texto">
                        <label for="archivo-proyecto">Archivo proyecto:</label>
                    </div>
                    <div class="item-contenido" th:if="${proyecto.archivoUrl == null}">
                        <label for="archivo-proyecto">No posee</label>
                    </div>
                    <div class="item-contenido" th:if="${proyecto.archivoUrl != null}">
                        <a th:href="${proyecto.archivoUrl}" target="_blank" rel="noopener noreferrer">
                            <div class="boton-doc">
                                Ver documento
                            </div>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="item-texto">
                        <label for="integrante">Integrantes:</label>
                    </div>
                    <div class="item-contenido">
                        <table class="tabla">
                            <tr class="fila" th:each="integrante, iterStat : ${integrantes}"
                                th:rowspan="${#lists.size(integrantes)}" th:if="${iterStat.first}">
                                <td class="columna-desc" th:text="${integrante.correoRegistro}"></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="item">
                    <div class="item-texto">
                        <label for="calificación">Calificación:</label>
                    </div>
                    <div class="item-contenido">

                        <label for="calificación"

                        <td th:text="${proyecto.calificacion == 0.0 ? 'Este proyecto no ha sido calificado' : proyecto.calificacion}">85</td>></label>
                    </div>
                </div>
                <div class="item item-tabla">
                    <div class="item-texto">
                        <label for="calificación">Jurado:</label>
                    </div>
                    <div class="item-contenido tabla-informacion">
                        <table class="tabla">
                            <tr class="fila" id="mainRow" th:each="jurado, iterStat : ${jurados}">
                                <td class="columna-desc columna-eliminar">
                                    <span th:text="${jurado.username}"></span>
                                    <form th:if="${rolObj.id != 1} and ${asignacion} and ${creador}"
                                        th:action="@{/proyecto/{idProyecto}/jurado/eliminar(idProyecto=${proyecto.id})}"
                                        method="post" enctype="multipart/form-data">
                                        <input type="hidden" name="juradoCorreo" th:value="${jurado.username}" required>
                                        <button class="eliminar">x</button>
                                    </form>
                                </td>
                            </tr>
                            <tr class="fila" th:if="${rolObj.id != 1} and ${asignacion} and ${creador}">
                                <td class="columna-desc">
                                    <div class="boton-agregar">
                                        Asignar jurado
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div th:if="${exito}" class="ventanita ventana-verde" id="notification">
                <p><span th:text="${exito}"></span></p>
                <span id="equis" class="close" onclick="closeNotification('notification')">×</span>
            </div>
            <div th:if="${error}" class="ventanita-roja" id="notification">
                <p><span th:text="${error}"></span></p>
                <span id="equis" class="close" onclick="closeNotification('notification')">×</span>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal" th:if="${rolObj.id != 1} and ${asignacion}">
        <div class="modal-content">
            <div class="contenido-modal">
                <form th:action="@{/proyecto/{idProyecto}/jurado(idProyecto=${proyecto.id})}" method="post"
                    enctype="multipart/form-data">
                    <p>Correo del jurado:</p>
                    <input class="correo-jurado" type="email" name="juradoCorreo" id="juradoCorreo">
                    <div class="botones">
                        <div class="boton-a close">
                            Cancelar
                        </div>
                        <div class="boton-a agregar">
                            <button class="boton-a agregar">Agregar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script th:src="@{/js/modal-2.js}"></script>
    <script th:src="@{/js/menu.js}"></script>
    <script>
        //Despliegue del menu principal
        let listElements = document.querySelectorAll('.lista-item');

        listElements.forEach(listElement => {
            listElement.addEventListener('click', () => { //detecta el evento click en los items de la lista del menú
                listElement.classList.toggle('arrow'); //agrega la clase arrow
                let menu = listElement.nextElementSibling;
                menu.classList.toggle('active'); //agrega la clase active para mover el arrow
            });
        });

        //ejecutar funcion con click
        document.getElementById('btn-open').addEventListener("click", open_close_menu);

    </script>
</body>

</html>