<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ferias creadas</title>
    <link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/cuadricula.css}" />
    <link rel="stylesheet" th:href="@{/css/feriasCreadas.css}" />
    <link rel="stylesheet" th:href="@{/css/estilos.css}" />
    <link href='https://fonts.googleapis.com/css?family=League Spartan' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/43d3343120.js" crossorigin="anonymous"></script>
</head>

<body>
<div class="contenedor" id="contenedor">
    <div class="header" th:include="@{/fragments/navbar.html}"></div>
    <div class="menu" th:include="@{/fragments/menu.html}"></div>
    <div class="contenido">
        <h1 class="titulo">Ferias creadas</h1>
        <div class="ferias">
            <tr th:each="feria : ${ferias}">
                <div class="cuadro">
                    <div class="top">
                        <img th:src="@{/img/proyectt.png}" alt="">
                    </div>
                    <div class="info">
                        <p th:text="${feria.nombre}">Feria de proyecto de aula.</p>
                        <div class="botones">
                            <a th:href="'/Ferias/' + ${feria.id} + '/Editar_Feria'"><button class="edit">Editar</button></a>
                            <a th:href="'/Ferias/' + ${feria.id} + '/Elminar_Feria'"><button class="delete">Eliminar</button></a>
                            <a th:href="'/Ferias/' + ${feria.id} + '/Versiones'"><button class="versiones">Versiones</button></a>
                        </div>
                    </div>
                </div>
            </tr>
            <div class="CrearEvento">
                <a th:href="'/Ferias/Crear_Feria'"><button>Crea evento</button></a>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/menu.js}"></script>
</body>

</html>