<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Version</title>
    <link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/cuadricula.css}">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <link rel="stylesheet" th:href="@{/css/viewProyect.css}">
    <script src="https://kit.fontawesome.com/43d3343120.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=League Spartan' rel='stylesheet'>
</head>

<body>
<div class="contenedor" id="contenedor">
    <div class="header" th:include="~{@{/fragments/navbar.html}}"></div>
    <div class="menu" th:include="~{@{/fragments/menu.html}}"></div>


    <div class="contenido">
        <h2 class="titulo" th:text="'Versiones de ' + ${feria.nombre}"></h2>
        <hr class="linea">
        <tr th:each="version : ${versiones}">
        <div class="cuadro">
            <div class="cua">
                <!--<img class="icon" th:src="@{'data:image/png;base64,' + ${feria.imagenBase64}}" />-->
                <img class="icon" th:src="@{/img/proyectt.png}">
                <div class="txt" th:text="${version.numero}"></div>

            </div>
            <div class="botones">
                <a class="eliminar" th:href="'/Ferias/' + ${feria.id} + '/Versiones/' + ${version.id} + '/Eliminar_Version'">Eliminar</a>
                <a class="eliminar" th:href="'/Ferias/' + ${feria.id} + '/Versiones/' + ${version.id} + '/Editar_Version'">Editar</a>
                <a class="editar" th:href="'/Ferias/' + ${feria.id} + '/Versiones'" >Ver detalles</a>
            </div>
        </div>
       </tr>
    </div>

</div>
<script th:src="@{/js/script.js}"></script>
</body>

</html>