<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Confirmación de Registro</title>
</head>
<body>
    <p> Estimado/a, {{nombre_usuario}}</p>
    <p>Nos complace informarle que su cuenta en el aplicativo de Feria de Proyectos ha sido creada exitosamente. Para completar el proceso de registro y acceder a todas las funcionalidades de nuestra plataforma, es necesario que confirme su cuenta.</p>
    <p>Por favor, siga estos pasos para confirmar su registro:</p>
    <ol>
        <li>Haga clic en el siguiente enlace de confirmación: <a href="{{enlace_confirmacion}}">{{enlace_confirmacion}}</a></li>
        <li>Ingrese sus credenciales de inicio de sesión (nombre de usuario y contraseña) si se le solicita.</li>
    </ol>
    <p>Si no reconoce este registro o si no ha intentado crear una cuenta en nuestro aplicativo, por favor ignore este mensaje.</p>
    <p>Agradecemos su atención y esperamos que disfrute de su experiencia en la Feria de Proyectos.</p>
</body>
</html>
